* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    /*outline: red dashed 1px; /* outline to see how borders are interacting, will delete later*/
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.836);
    padding: 20px;
}

.container {
    text-align: center;
    color: white;
    font-size: 1.5em;
}


.buttons {
    margin: 30px;
}

.button {
    margin: 20px;
    padding: 10px 40px;
    font-size: 1.5em;
    color: white;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    background-color: rgb(128, 128, 128);
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    border-color: white;
}