* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #f09c85, #f58f7d, #c17dff, #6c8cf7);
    padding: 20px;
}

.container {
    text-align: center;
    max-width: 600px;
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 3em;
    margin-bottom: 1em;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

 .button {
    margin: 0 10px;
    padding: 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
} 

.button:first-child {
    margin-right: 20px;
}

.button:last-child {
    margin-left: 20px;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-in-out;
}

.software {
    order: 1;
}

.engineer {
    margin-top: 10px;
}

.product {
    order: 2;
}

.management {
    margin-top: 10px;
}





